body {
	font-family:"Lato";
	font-weight:300;
}

h2 {
	color:#333333;
	font-weight:300;
	text-align:center;
}

.centered {
	text-align:center;
}

.buttons {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	overflow:hidden;
}

.button {
	width:33%;
	float:left;
}

.form {
	width:66%;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:#CCCCCC;
}

.form input[type='text'], select {
	width:100%;
	padding:5px;
	margin-bottom:5px;
	font-family:"Lato";
}