<html>
	<head>
		<!-- SEN1OR5 R15E ~ Class of 2015 -->

		<title>IA Central Olympics Scoreboard</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/css/scoreboard.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/scoreboard.js"></script>
	</head>
	<body>

		<div class="header">
			<h2>IA Central Olympics Scoreboard</h2>
			<p class="centered">Tap or click a score bar to see the rankings for each individual event.</p>
		</div>

		<div class="scoreboard">
			<div class="score" id="senior-score" data-score="0">Seniors: 0</div>
			<div class="score" id="junior-score" data-score="0">Juniors: 0</div>
			<div class="score" id="sophomore-score" data-score="0">Sophomores: 0</div>
			<div class="score" id="freshman-score" data-score="0">Freshmen: 0</div>
		</div>

		<div class="header">
			<h2>Happening right now:</h2>
			<h3 id="status"></h3>
		</div>

		<div class="scoreboard">
			&nbsp;
		</div>

		<div class="footer">
			<p>Developed by Amit Mizrahi, IA Class of 2015. &middot; <a id="source" href="http://github.com/amizra/iaolympics">Source code</a> &middot; <a id="source" href="mailto:mizrahi.amit15@bloomfield.org">Say hi!</a></p>
		</div>

	</body>
</html>