<html>
	<head>
		<!-- SEN1OR5 R15E ~ Class of 2015 -->

		<title>IA Central Olympics Scoreboard</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/css/scoreboard.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/scoreboard.js"></script>
	</head>
	<body>

		<div class="header">
			<h2>IA Central Olympics Scoreboard</h2>
			<p>The site is currently down for maintenance. Please check back shortly.</p>
			<!--
			<p class="centered">Tap or click a score bar to see the rankings for each individual event. <a id="show-scoring">Show scoring policy</a></p>
			<p id="policy"><b>Scoring policy:</b> Point values are in increments of 2: 1st place is 10 points, 2nd place is 8 points, 3rd place is 6 points, and 4th places is 4 points. In case of a tie, point values are rounded down. For example, a tie for 2nd place would mean that both teams would receive 7 points instead of 8.</p>
		</div>

		<div class="scoreboard">
			<div class="score" id="senior-score" data-score="0">Seniors: 0</div>
			<div class="score" id="junior-score" data-score="0">Juniors: 0</div>
			<div class="score" id="sophomore-score" data-score="0">Sophomores: 0</div>
			<div class="score" id="freshman-score" data-score="0">Freshmen: 0</div>
		</div>

		<div class="now">
			<h2>Happening right now:</h2>
			<h3 id="status"></h3>
		</div>

		<div class="scoreboard">
			&nbsp;
		</div>

		<div class="footer">
			<p>Developed by Amit Mizrahi, IA Class of 2015. &middot; <a id="source" href="http://github.com/amizra/iaolympics">Source code</a> &middot; <a id="source" href="mailto:mizrahi.amit15@bloomfield.org">Say hi!</a></p>
		</div>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-54742674-1', 'auto');
		  ga('send', 'pageview');

		</script> -->

	</body>
</html>