<html>
	<head>
		<script src="/static/scoreboard.js"></script>
	</head>
	<body>

		<div class="header">
			<h3>IA Central Olympics Scoreboard</h3>
		</div>

		<div class="senior-score"></div>
		<div class="junior-score"></div>
		<div class="sophomore-score"></div>
		<div class="freshman-score"></div>

		<div class="footer">
			<p>Developed by Amit Mizrahi, IA Class of 2015.</p>
		</div>
		
	</body>
</html>