<html>
	<head>
		<!-- SEN1OR5 R15E ~ Class of 2015 -->

		<title>IA Central Olympics Scoreboard</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/css/scoreboard.css">
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/scoreboard.js"></script>
	</head>
	<body>

		<div class="header">
			<h2>Status</h2>
			<p class="centered">Update the current status of olympics.</p>
		</div>

		<div class="scoreboard">
			<form action="" method="post">
				<input type="text" name="status"/>
			</form>
		</div>

		<div class="footer">
			<p>Developed by Amit Mizrahi, IA Class of 2015. &middot; <a id="source" href="http://github.com/amizra/iaolympics">Source code</a> &middot; <a id="source" href="mailto:mizrahi.amit15@bloomfield.org">Say hi!</a></p>
		</div>

	</body>
</html>