body {
	font-family:"Lato";
	font-weight:300;
}

h2 {
	color:#333333;
	font-weight:300;
	text-align:center;
}

input, select {
	font-family:"Lato";
	font-weight:300;
	width:100%;
}

.overview {
	margin-left:auto;
	margin-right:auto;
	width:66%;
	text-align:center;
}

.save {
	margin-left:auto;
	margin-right:auto;
	width:66%;
}

.content {
	margin-left:auto;
	margin-right:auto;
	width:66%;
}

.forms, .add {
	width:66%;
	margin-left:auto;
	margin-right:auto;
	padding:20px;
	background-color:#CCCCCC;
}

.forms input, .forms select {
	margin-bottom:10px;
	height:40px;
	padding-left:5px;
}

.class-header {
	font-weight:bold;
}

.save {
	margin-top:20px;
	margin-bottom:20px;
}

#x {
	width:100%;
	text-align:right;
	font-weight:bold;
	color:#777777;
	cursor:pointer;
}

#x:active {
	color:#AAAAAA;
}