<html>
	<head>
		<title>Entry</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/entry.css">
		<script src="/static/jquery.js"></script>
		<script src="/static/entry.js"></script>
	</head>
	<body>
		<div class="content">
			<div class="overview">
				<h2>Score Entry</h2>
				<p class="centered">I would like to...</p>
			</div>
			<div class="buttons">
				<div class="button">
					<p class="centered"><a class="pure-button action" id="add-scores">Add scores for an event</a></p>
				</div>
				<div class="button">
					<p class="centered"><a class="pure-button action" id="deduct">Deduct points</a></p>
				</div>
				<div class="button">
					<p class="centered"><a class="pure-button action" id="rescore">Re-score an existing event</a></p>
				</div>
			</div>
			<div id="add-score-form" class="form">
				<form action="" method="post">
					<!-- TODO replace with <select>s -->
					<select name="event-name" placeholder="Event name...">
						<option name="hallway">Hallway</option>
						<option name="tshirt">T-shirt</option>
						<option name="class-banner">Class Banner</option>
						<option name="tug-of-war">Tug of War</option>
						<option name="oakland-county-500">Oakland County 500 - Artistic</option>
						<option name="oakland-county-500">Oakland County 500 - Race</option>
						<option name="watermelon-eating-contest">Watermelon Eating Contest</option>
						<option name="egg-toss">Egg Toss</option>
						<option name="four-legged-race">Four Legged Race</option>
						<option name="ac-surprise">Adventure Challenge Surprise</option>
						<option name="euchre">Euchre Tournament</option>
						<option name="chess">Team Chess</option>
						<option name="trivial-pursuit">Trivial Pursuit</option>
						<option name="team-ninja">Ninja</option>
						<option name="gladiator">Gladiator</option>
						<option name="millionaire">Who Wants to be a Millionaire?</option>
						<option name="ultimate-frisbee">Ultimate frisbee</option>
						<option name="volleyball">5 on 5 Volleyball</option>
						<option name="mural-contest">Blacktop Mural Contest</option>
						<option name="bb-shootout">3 on 3 Basketball</option>
						<option name="4-square">4 Square</option>
						<option name="soccer">Soccer</option>
					</select>
					<input type="text" name="freshman-score" placeholder="Freshman score...">
					<input type="text" name="sophomore-score" placeholder="Sophomore score...">
					<input type="text" name="junior-score" placeholder="Junior score...">
					<input type="text" name="senior-score" placeholder="Senior score...">
					<input type="submit" class="pure-button pure-button-primary">
				</form>
				<p><a class="pure-button" id="back-button">&lt;&lt;&lt; Go back</a></p>
			</div>
		</div>
	</body>
</html>