<html>
	<head>
		<title>Manager</title>
		<script src="/static/manager.js"></script>
	</head>
	<body>
		<h1>Class Manager</h1>
		<p>Use the form below to manage the different classes at IA (e.g. the class of 2015).</p>
		<div class="forms">
			<form action="" method="post" id="form1">
				<input type="text" placeholder="Class year" name="year"/>
				<input type="text" placeholder="Class name (e.g. seniors, juniors)" name="name"/>
				<input type="text" placeholder="Class color" name="color"/> <!-- replace with color picker -->
				<input type="text" placeholder="Class theme" name="theme"/>
			</form>
			<a id="addform">Add another class...</a>
		</div>
		<div class="save">
			<a id="submit">Save changes</a>
		</div>
	</body>
</html>