<html>
	<head>
		<title>IA Central Olympics Scoreboard</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/scoreboard.css">
		<script src="/static/jquery.js"></script>
		<script src="/static/scoreboard.js"></script>
	</head>
	<body>

		<div class="header">
			<h2>IA Central Olympics Scoreboard</h2>
		</div>

		<div class="scoreboard">
			<div class="score" id="senior-score" data-score="262">Seniors: 262</div>
			<div class="score" id="junior-score" data-score="214">Juniors: 214</div>
			<div class="score" id="sophomore-score" data-score="143">Sophomores: 143</div>
			<div class="score" id="freshman-score" data-score="97">Freshmen: 97</div>
		</div>

		<div class="footer">
			<p>Developed by Amit Mizrahi, IA Class of 2015. &middot; <a id="source" href="http://github.com/amizra/iaolympics">Source code</a></p>
		</div>

	</body>
</html>